# Backup files
*.bak
*.dat
*.dir

# Distribution / packaging
*.egg
*.egg-info/
*.manifest
*.spec
.Python build/
.eggs/
.installed.cfg
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Django
*.pot
*.pyc
/staticfiles
__pycache__
db.sqlite3

# Environments
.venv
ENV/
env.bak/
env/
venv
venv.bak/
venv/

# IDEs
.DS_Store
.idea
.vscode

# Installer logs
pip-delete-this-directory.txt
pip-log.txt
*.log

# mypy
.mypy_cache

# pyenv
.python-version

# pytest
.pytest_cache

# Python
*$py.class
*.py[cod]

# Unit test / coverage reports
*.cover
*trial_temp/
.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
nosetests.xml
/celerybeat-schedule*

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

